{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME WEB !</title>
    <link rel="stylesheet" href="{%  static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
</head>
<body>
    <div class="ui thin visible left sidebar inverted vertical menu">
        <div class="header item">
            <img src="{% static 'images/logo2.png' %}">

        </div>
        <div class="item">
            <a href="/index">首页</a>
            <i class="home icon"></i>
        </div>
        <div class="item">
            <a href="/chart">可视化Charts</a>
            <i class="bar char icon"></i>
        </div>
        <div class="item">
            Others
            <i class="idea icon"></i>
        </div>

    </div>
    <div class="pusher">

    <div class="ui menu">
        <div class="header item" id="menu">
            Menu
            <i class="content icon"></i>
        </div>
        <div class="item">
            About us
        </div>
        <div class="item">
            Location
        </div>
        <div class="item">
            Others
        </div>
    </div>
        {% block grid %}

        {% endblock %}
    </div>

    <div class="ui text container">
        <div class="ui divided items">
            <div class="item">
                <div class="content">
                    <div class="header">
                        The title
                    </div>
                    <div class="description">
                        <p>
                            Say something!!!
                        </p>
                    </div>
                    <div class="extra">
                        <div class="ui label">
                            tag1
                        </div>
                        <div class="ui label">
                            tag2
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">
                        The title
                    </div>
                    <div class="description">
                        <p>
                            Say something!!!
                        </p>
                    </div>
                    <div class="extra">
                        <div class="ui label">
                            tag1
                        </div>
                        <div class="ui label">
                            tag2
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <script>
        $('#menu').click(function () {
            $('.ui.sidebar').sidebar('toggle');

        });
    </script>

</body>
</html>